/* Global variables */

:root {
    --main-color: #16c0c0;
    --secondary-color: #2c4856;
}

/* Global box-sizing */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

}

/* responsive container */
.container {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@meia (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*Styling The sections titles (Big titles)*/
/* The title */
.section-title div {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #e1e1e1;
    letter-spacing: -2px;

}

/* The Qoute */
.section-title p.qoute {
    margin: -50px 0 0;
    font-size: 18px;
    color: var(--secondary-color);
    text-align: center;
}

/* responsive title */
@media (max-width: 768px) {
    .section-title p.qoute {
        font-size: 15px;
    }

    .section-title div {
        font-size: 70px;
    }

}

/* ------------------------ */

html {
    scroll-behavior: smooth;
}

/*FONTS*/
body {
    font-family: 'Work Sans', sans-serif;
}

/* ----------------------------------------- */

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo resize */
header .logo {
    width: 60px;
    height: 24px;
}

/* Menu icon style */
header .icon {
    display: flex;
    flex-flow: row-reverse wrap;
    width: 30px;
    transition: 0.3s ease-in-out;
}

/* Menu bars */
header .icon .icon-bar {
    display: block;
    background-color: var(--secondary-color);
    height: 2px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

header .icon span:not(:last-child) {
    margin-bottom: 4px;
}

/* Menu bars hover effects */
header .links:hover .icon span.icon-bar:nth-child(2) {
    width: 100%;
}

header .links:hover .icon span.icon-bar {
    background-color: var(--main-color);
}

/* --------------------------------------------- */

/* second bar in the menu icon */
header .icon span:nth-child(2) {
    width: calc(100% - 10px);
}

/* links container (ul and menu icon) */
header div.links {
    position: relative;
}

header .links:hover {
    cursor: pointer;
}

/* list of links (ul) */
header div.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    display: none;
}

/* ul visible after hover */
header .links:hover ul {
    display: block;
    z-index: 1;
}

/*small triangle for Menu backround*/
header div.links div.dialog-mark {
    border: 10px solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    right: 5px;
    display: none;
}

header div.links:hover div.dialog-mark {
    display: block;
}

/*links (a) styling*/
header div.links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

header div.links li a:hover {
    margin-left: 10px;
    color: var(--main-color);
}

/* list items bottom border */
header div.links ul li:not(:last-child) {
    border-bottom: 1px solid white;
}

/* HERO SECTION */
section .landing {
    background-image: url(../images/mountain1.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

section .landing .hero-text h1 {
    margin: 0;
    font-size: 44px;
    font-weight: 800;
    color: var(--main-color);
}

section .landing .hero-text {
    text-align: center;
    width: 344px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .landing .hero-text p {
    line-height: 1.8;
    font-size: 18px;
}

/*Features Section*/
.features-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}


@media (min-width: 639px) and (max-width: 939px) {
    .features-section {
        grid-template-columns: auto;
    }
}

.features-section div {
    padding: 50px;
}

/*icons size and color*/
.features-section div i {
    font-size: 40px;
    color: var(--main-color);
}

/*fatures h3*/
.features-section div h3 {
    font-weight: 800;
    color: var(--secondary-color);
}

/*features paragraph*/
.features-section div p {
    font-size: 17px;
    color: #777;
    line-height: 1.8;
}



/*Services Section*/
.services-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-section .container {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-section .container div.design {
    padding: 50px;
    flex-basis: 360px;
    z-index: 1;
}

.services-section .container div i {
    font-size: 25px;
    color: var(--main-color);
    position: relative;
    left: -42px;
    top: 47px;
}

.services-section .container div h3 {
    font-weight: 800;
    color: var(--secondary-color);
}

.services-section .container div p {
    font-size: 17px;
    color: #777;
    line-height: 1.8;
}




/*rectangles*/

.services-section .container div.rectangle-1 {
    position: absolute;
    width: 70px;
    height: 90%;
    background-color: var(--secondary-color);
    right: 5px;
}

.services-section .container div.rectangle-2 {
    position: absolute;
    width: 220px;
    height: 50%;
    right: 43px;
    top: 274px;
}

/* changing the small photo to a grey background */
@media (min-width: 591px) {
    .services-section .container div.rectangle-2 {
        background-image: url(../images/small-color-mountain.jpg);
        background-size: cover;
    }
}

@media (max-width: 590px) {
    .services-section .container div.rectangle-2 {
        background-color: #e1e1e1;
    }
}

/* PORTFOLIO SECTION */
.portfolio-section {
    background-color: #eee;
    padding-top: 60px;
    padding-bottom 60px;
}

/*PORTFOLIO TITLE*/

/* DISPLAY PORTFOLIO PROJECTS WITH GRID  */
.portfolio-section .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
}

/* RESPONSIVE COLUMNS FOR PROJECTS */
@media (max-width: 1059px) {
    .portfolio-section .projects-container {
        grid-template-columns: auto;
        gap: 50px;
    }
}

/* PROJECTS IMAGES + TEXT */
.portfolio-section .projects-container .card {
    background-color: white;
}

.portfolio-section .projects-container .card img {
    max-width: 100%;
}


.portfolio-section .card .project-text {
    padding: 20px;
}

.portfolio-section .card h3 {
    margin: 0;
}

.portfolio-section .card p {
    margin-bottom: 0;
    line-height: 1.6;
    color: #777;
}

/* ABOUT SECTION */
.about-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-section .about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

@media (max-width: 992px) {
    .about-section .about-content {
        flex-direction: column;
        margin-top: 100px;
    }
}

.about-section .about-section-image {
    position: relative;
}

.about-section .about-section-image img {
    width: 200px;
    height: 235px;
}

/* Shape Before About Image */
.about-section .about-section-image::before {
    content: '';
    background-color: #e1e1e1;
    width: 70px;
    height: calc(100% + 80px);
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -10px;


}

/* Shape After About Image */
.about-section .about-section-image::after {
    content: '';
    width: 50px;
    height: 150px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -80px;
}

.about-section .about-paragraphs {
    flex-basis: 445px;
    padding: 60px 35px;
}

.about-section .about-paragraphs p {
    line-height: 1.8;
}

.about-section .about-paragraphs p:first-of-type {
    font-weight: bold;
    margin-bottom: 40px;
}

.about-section .about-paragraphs hr {
    width: 50%;
    margin: 0;
    border-color: var(--main-color);
}

.about-section .about-paragraphs p:last-of-type {
    color: #777;
}

/* CONTACT SECTION */
.contact-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eee;
}

.contact-section .contact-content {
    width: 70%;
    text-align: center;
    margin: 55px 0;
}

.contact-section .contact-content h2, .contact-content a{
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -1px;
    margin: 0 0 15px;
}

.contact-section .contact-content h2 {
    color: var(--secondary-color);
}

/* Email Link Styling */
.contact-section .contact-content a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
}

/* P inline with the icons */
.contact-section .social-networks p, div.social-icons {
    display: inline-block;
}

/* Space Between the Icons */
.contact-section .social-networks div.social-icons i {
    margin-left: 5px;
    color: var(--secondary-color);
}

.contact-section .social-networks p {
    font-size: 12px;
}

/* FOOTER STYLING */
footer {
    background-color: var(--secondary-color);
}

footer p {
    padding: 30px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: white;
}

/* 2023 color */
footer p span {
    color: var(--main-color);
}

/* responsive contact section + Footer */
@media (max-width: 689px) {
    .contact-section .contact-content h2, .contact-content a {
        font-weight: 900;
        font-size: 19px;
    }

    .contact-section .social-networks p {
        font-size: 10px;
    }

    .contact-section .contact-content {
        width: 100%;
    }
}
